.game-layout{
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
 /*  max-width: 100vw;
  max-width: 100vh; */

  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr 1fr;
  place-items: center;
  grid-template-areas: 
  "GS  LV"
  "GS Gsta"
  "GS  Jum"
  "SC  Jum"
}